$black: rgb(75, 64, 64);
$sand: rgb(231, 204, 163);
$teal: rgb(117, 228, 236);
$green: rgb(118, 184, 82);
$water: rgba(117,193,217,1);

.projects-section {
  position: relative;
  z-index: 1;
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: $black;
    text-transform: uppercase;
  }
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: $black;
    font-weight: 400;
  }
  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: $black;
    font-weight: 400;
    margin-top: 0;
  }
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    color: $black;
  }
}

.projects-top-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 20rem;
  padding: 0 5vw;
  background-image: url('../images/surveying.jpg');
  background-color: rgb(239, 239, 239);
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  h1 {
    color: white;
  }
  p {
    width: 30rem;
    text-align: right;
    color: white;
  }
  .animated.fadeInDown:last-child {
    margin-top: 1rem;
  }
}

.projects-bottom-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 20rem;
  background-image: url('../images/grow.jpg');
  background-color: rgb(239, 239, 239);
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: 0 -2rem;
  z-index: 1;
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5vw;
    width: 60%;
  }
  p {
    width: 30rem;
    text-align: right;
  }
  .animated.fadeInDown:last-child {
    margin-top: 1rem;
  }
}

.project-main {
  display: flex;
  background: white;
  a {
    width: 50%;
  }
  .project-column {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $water;
    padding: 0 11vw;
    transition: 300ms ease-in-out;
    box-shadow: 
      5px 5px 5px -5px #888, 
      -5px 0px 5px -5px #888;
    h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .project-column:hover {
    filter: brightness(1.05);
  }
}

.project-main-cards {
  display: flex;
  background: white;
  .project-column {
    width: 50%;
  }
}

.project-title.environmental {
  min-height: 14rem;
}

.project-title.gis {
  min-height: 12rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 
    5px 5px 5px -5px #888, 
    -5px -5px 5px -15px #888;
  .project-title {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      border-bottom: 4px solid rgb(85, 94, 94);
    }
  }
  .project-text p {
    margin: 1rem;
    font-size: 1rem;
  }
  p:first-child {
    margin-top: 0;
  }
  .arrow-right {
    transition: 200ms ease-in-out;
  }
  .arrow-down {
    transition: 200ms ease-in-out;
    transform: rotate(90deg);
  }
  svg {
    color: $black;
    width: 3rem;
    height: 3rem;
  }
}


@media only screen and (max-width: 800px) {
  .project-main {
    flex-direction: column;
    a {
      width: 100%;
    }
    .project-column {
      height: calc((100vh - 25rem)/2);
      justify-content: space-between;
      box-shadow: 
        5px 5px 5px -5px #888, 
        -5px -5px 5px -5px #888;
      h2 {
        letter-spacing: 0;
      }
    }
  }

  .projects-bottom-header {
    background-position: -9rem -2rem;
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .projects-top-header {
    justify-content: initial;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 37% 0;
    h1 {
      padding-top: 2rem;
      font-size: 2.5rem;
    }
    p {
      width: initial;
      font-size: 1rem;
    }
  }

  .projects-bottom-header {
    padding-top: 2rem;
    justify-content: flex-start;
    background-size: contain;
    background-position: center bottom;
    article {
      width: 100%;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  .project-main-cards {
    flex-direction: column;
    .project-column {
      width: 100%;
    }
  }

  .project-card {
    .project-title.environmental {
      min-height: 0;
    }
    .project-title.gis {
      min-height: 0;
    }
  }
}