$black: rgb(75, 64, 64);
$sand: rgb(231, 204, 163);
$teal: rgb(117, 228, 236);
$water: linear-gradient(90deg, rgba(82,174,203,1) 16%, rgba(117,193,217,1) 31%);
$whitegradient: linear-gradient(90deg, rgba(237,255,255,1) 0%, rgba(248,255,255,1) 100%) no-repeat;


:root {
  font-size: 16px;
}

.App {
  position: relative;
}

//bluewater background: linear-gradient(90deg, rgba(109,213,237,1) 0%, rgba(33,147,176,1) 100%);
//blueteal seaweed background: linear-gradient(90deg, rgba(76,184,196,1) 0%, rgba(60,211,173,1) 100%);
//shore background: linear-gradient(90deg, rgba(192,192,170,1) 0%, rgba(28,239,255,1) 100%);
//lavenderwhite background: linear-gradient(90deg, rgba(237,230,255,1) 0%, rgba(248,244,255,1) 100%);
// $water: linear-gradient(90deg, rgba(62,161,193,1) 0%, rgba(82,174,203,1) 16%, rgba(117,193,217,1) 31%, rgba(150,208,230,1) 55%);



.contact-section {
  z-index: -1;
  position: sticky;
  bottom: 0;
  background-image: url('./images/greennewdeal.jpg');
  background-size: cover;
  background-attachment: fixed;
  .contact-color {
    background-color: rgba(118, 184, 82, .8);
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: 2rem;
    font-size: .8rem;
    color: white;
  }
  .contact-text {
    display: flex;
    h3 {
      font-family: "Oswald";
      text-transform: uppercase;
      font-weight: 400;
      color: $black;
      text-shadow: 1px 1px 1px rgb(105, 104, 104);
    }
    p {
      margin: .25rem 0;
      font-size: .8rem;
      color: white;
    }
    div {
      margin: 0 2vw;
    }
    
  }
  .contact-logos {
    display: flex;
    flex-wrap: wrap;
    .business-logo {
      height: 5rem;
      width: 10rem;
      margin: 1.5rem;
    }
  }
  .contact-icons {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    a {
      color: $black;
    }
  }
}

@media only screen and (max-width: 800px) {

  .navbar {
    height: 4rem;
    .hies-name .hies {
      font-size: 2rem;
      padding-right: 2vw;
    }
    img {
      height: 4rem;
    }
  }

  .home-section {
    .home-content {
      flex-direction: column;
      .home-card:first-child {
        margin: 1rem;
      }
      .home-card:last-child {
        margin: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  .navbar {
    span {
      font-size: 1rem;
    }
    .nav-item {
      .nav-dropdown-closed {
        top: 4rem;
        right: -4rem;
        width: 10rem;
        opacity: 0;
        visibility: hidden;
        transition: 600ms ease;
      }
      .nav-dropdown-open {
        top: 4rem;
        right: -1rem;
        width: 10rem;
        visibility: visible;
        opacity: 1;
        transition: 600ms ease;
      }
    }
  }

  .home-section {
    .home-content {
      top: -1.5rem;
    }
  }

  .geo-section {
    .geo-image-container {
      margin-bottom: 1rem;
      .geo-image-card {
        margin: 2rem 0 0 0;
        height: 23vh;
        padding: 2rem 0;
        .geo-image {
          height: 18vh;
        }
      }
    }
    .geo-text {
      padding: 3rem 15vw;
    }
  }

  .contact-section {
    overflow: hidden;
    .contact-color {
      padding: 2rem 2vw;
    }
    .contact-logos {
      .business-logo {
        height: 3rem;
        width: 5rem;
        margin: 1.5vw;
      }
    }
  }
}
