$black: rgb(75, 64, 64);
$sand: rgb(231, 204, 163);
$teal: rgb(117, 228, 236);
$water: linear-gradient(90deg, rgba(82,174,203,1) 16%, rgba(117,193,217,1) 31%);
$whitegradient: linear-gradient(90deg, rgba(237,255,255,1) 0%, rgba(248,255,255,1) 100%) no-repeat;


:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

.App {
  position: relative;
}

body {
  overflow-x: hidden;
}

.contact-info-section {
  z-index: 0;
  position: sticky;
  bottom: 0;
  background-image: url('./images/greennewdeal.jpg');
  background-size: cover;
  background-attachment: fixed;
  .contact-color {
    background-color: rgba(118, 184, 82, .8);
    width: 100%;
    height: 100%;
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: 2rem;
    font-size: .8rem;
    color: white;
  }
  .contact-text {
    display: flex;
    width: 80%;
    h3 {
      font-family: "Oswald";
      text-transform: uppercase;
      font-weight: 500;
      color: $black;
      text-shadow: 1px 1px 1px rgb(105, 104, 104);
    }
    p {
      margin: .25rem 0;
      font-size: .8rem;
      color: white;
    }
    div {
      margin: 0 2vw 2vh 2vw;
      flex: 1;
    }
    
  }
  .contact-logos {
    display: flex;
    flex-wrap: wrap;
    .business-logo {
      height: 5rem;
      width: 10rem;
      margin: 1.5rem;
    }
  }
  .contact-icons {
    font-size: 1.5rem;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    a {
      color: $black;
      transition: 400ms ease-in-out;
    }
  }
  .contact-icons a:hover {
    color: $sand;
  }
}

.notfound-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 240, 226);
  h1 {
    font-family: "Expletus Sans", sans-serif;
    text-transform: uppercase;
    color: $black;
  }
  p {
    font-family: "Fira Sans", sans-serif;
    color: $black;
  }
}

@media only screen and (max-width: 1000px) {
  .contact-info-section {
    overflow: hidden;
    position: relative;
  }
}


@media only screen and (max-width: 800px) {

  .home-section {
    .home-content {
      flex-direction: column;
      .home-card:first-child {
        margin: 1rem;
      }
      .home-card:last-child {
        margin: 1rem;
      }
    }
  }

  .contact-info-section {
    overflow: hidden;
    background-attachment: initial;
    .contact-color {
      padding: 1rem 2vw;
    }
    .contact-logos {
      .business-logo {
        height: 3rem;
        width: 5rem;
        margin: 1.5vw;
      }
    }
    p {
      margin: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {

  .navbar {
    span {
      font-size: 1rem;
    }
    .nav-item {
      .nav-dropdown-closed {
        top: 4rem;
        right: -4rem;
        width: 10rem;
        opacity: 0;
        visibility: hidden;
        transition: 600ms ease;
      }
      .nav-dropdown-open {
        top: 4rem;
        right: -1rem;
        width: 10rem;
        visibility: visible;
        opacity: 1;
        transition: 600ms ease;
      }
    }
  }

  .home-section {
    .home-content {
      top: -1.5rem;
    }
  }

  .contact-info-section {
    background-attachment: initial;
    background-position-x: 40%;
    .contact-color {
      padding: 2rem 2vw;
    }
    .contact-text {
      flex-direction: column;
    }
    .contact-logos {
      .business-logo {
        height: 3rem;
        width: 5rem;
        margin: 1.5vw;
      }
    }
    .contact-icons {
      margin-top: 1rem;
    }
  }
}
